<li>
    <%= gravatar_for user, :size => 30 %>
    <%= link_to user.nom, user %>
    <% if current_user.admin? %>
    | <%= link_to "supprimer", user, :method => :delete, :confirm => "Etes-vous certain?", :title => "Supprimer #{user.nom}" %>
    <% end %>
</li>